<%= form_with(model: post) do |form| %>
<div class="post-show-container">
  <div class="image-panel">
    <%= link_to (request.referer || posts_path), class: "button" do %>
      <%= image_tag "arrow_back.svg", alt: "back", style: "height: 18px; width: 8px;", class: "bg-transparent" %>
      <div class="button-text">
        Back
      </div>
    <% end %>
    <div class="add-image-container">
      <div class="default-text">Select photo on your computer</div>
      <label class="file-upload-button">
        <%= form.file_field :image, class: "file-input", accept: "image/jpeg, image/png" %>
        Select file on computer
      </label>
      <div class="default-text" id="selected-file" display="none"></div>
    </div>
  </div>
  <%= render partial: "shared/description_panel", locals: { form: form, post: post } %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const inputFile = document.querySelector('input[type="file"]');
    const fileText = document.querySelector("#selected-file");
    inputFile.addEventListener('change', (e) => {
      let file = e.target.files[0];
      console.log(file.name);
      if (file.type !== "image/jpeg" && file.type !== "image/png") {
        fileText.innerHTML = "Only JPEG and PNG images are allowed!";
        e.preventDefault();
      } else {
        fileText.innerHTML = `Selected file: ${file.name}`;
      }
    });
  });
</script>
<% end %>