<% content_for :page_title, "View post" %>

<div class="post-show-container">
  <div class="image-panel">
    <%= link_to (request.referer || posts_path), class: "button" do %>
      <%= image_tag "arrow_back.svg", alt: "back", style: "height: 18px; width: 8px;", class: "bg-transparent" %>
      <div class="button-text">
        Back
      </div>
    <% end %>
    <%= image_tag(@post.image, class: "post-image") %>
  </div>
  
  <div class="post-info-panel">
    <div class="post-info">
      <%= image_tag "profile.svg", alt: "profile image", class: "profile-image" %>
      <div class="post-profile-date-likes">
        <div class="post-profile-date">
          <%= link_to user_path(@post.user), class: "post-profile" do %>
            <%= @post.user.username %>
          <% end %>
          <div class="post-date">
            <%= @post.created_at.to_date %>
          </div>
        </div>
        <div data-controller="like" data-like-post-id-value="<%= @post.id %>">
          <%= check_box_tag "like_toggle_#{@post.id}", "1", @post_liked,
                id: "like-toggle-#{@post.id}", class: "hidden-checkbox",
                data: { action: "change->like#toggle" } %>
          <label for="like-toggle-<%= @post.id %>" class="button">
            <%= image_tag "like.svg", alt: "like", style: "height: 20px; width: 22.55px;", class: "bg-transparent" %>
            <div class="button-text" data-like-target="count">
              <%= @post.likes.size %>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="post-description">
      <%= @post.description %>
    </div>
    <div data-controller="comment" data-comment-post-id-value="<%= @post.id %>" class="post-info-panel" style="margin-top: 0px;">
      <div class="textarea-container">
        <textarea name="comment" id="comment" placeholder="Leave a comment..." maxlength="200" rows="4" class="comment-textarea" data-comment-target="textarea"></textarea>
        <div class="hint-text" style="align-self: flex-end" data-comment-target="hintText">0/200</div>
        <input type="hidden" value="<%= @post.id %>" data-comment-target="postId">
        <button type="button" class="button" data-action="click->comment#submitComment">Send</button>
      </div>
      <% if @post.user == current_user %>
        <%= link_to "Edit post", edit_post_path(@post), class: "link", style: "align-self: flex-end" %>
      <% end %>

      <div id="comments-list" class="comments-container">
        <% @comments.each do |comment| %>
          <div class="comment" data-comment-id="<%= comment.id %>">
            <div class="post-info">
              <%= image_tag "profile.svg", alt: "profile image", class: "profile-image" %>
              <div class="post-profile-date-likes">
                <div class="post-profile-date">
                  <%= link_to user_path(comment.user), class: "post-profile" do %>
                    <%= comment.user.username %>
                  <% end %>
                  <div class="comment-date">
                    <%= comment.created_at.to_date %>
                    <% if comment.user == current_user %>
                      <%= image_tag "delete.svg",
                        alt: "delete",
                        class: "delete-button",
                        data: {
                          action: "click->comment#deleteComment"
                        } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-description">
              <%= comment.value %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", () => {
    const textarea = document.querySelector(".comment-textarea");
    const hintText = document.querySelector(".hint-text");

    if (textarea && hintText) {
      textarea.addEventListener('input', (e) => {
        hintText.innerHTML = `${e.target.value.length}/200`;
      });
    }
  });
</script>